.bl_todoFilters {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.bl_todoFilters_tag {
  flex: 1 1 auto;
  min-width: 0;
}

.bl_todoFilters_completed {
  flex: none;
  margin-bottom: 0;
}
